<ul>
  <% @patients.each do |patient| %>
      <li>Name: <%= patient.name %></li>
      <li>Number of Appointments: <%= patient.appointments_count %></li>
      Doctors:<% patient.doctors.each do |doctor| %>
        <li><%= link_to doctor.name, doctor_path(doctor) %></li>
      <% end %>
      <br>
  <% end %>
</ul>
